<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="url",value="http://localhost:8080/"/> 
    <classes>
     
      <class name="org.jiratestng.JiraTestNg"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
